/Ecommerce/.vs
/.vs

/Ecommerce/Services/Discount/Discount.API/bin/Debug/net10.0
/Ecommerce/Services/Discount/Discount.API/obj
/Ecommerce/Services/Discount/Discount.Application/obj
/Ecommerce/Services/Discount/Discount.Core/obj
/Ecommerce/Services/Discount/Discount.Core/bin/Debug/net10.0
/Ecommerce/Services/Discount/Discount.Infrastructure/bin/Debug/net10.0
/Ecommerce/Services/Discount/Discount.Infrastructure/obj
/Ecommerce/Services/Discount/Discount.Application/bin/Debug/net10.0

**/bin/
**/obj/
.vs/
**/*.csproj.user